.votediv {
	width: 35px;
	text-align:center;
}
.usertable td {
	text-align:center;
}
.label-list{
	float:left;
	width:100%;
}
.fpost {
	width:calc(100%);
	box-shadow: 0 0 2px #888888;
	float:left;
}
.fpost:first-of-type {
	margin-top: 1em;
}
.fpost, .votediv {
	padding:0.5em 0em;
}
.div_feddit .fpost {
	padding:0.5em 0.5em;
	margin: 0.3em auto;
	border-radius:4px;
}
.votediv  {
	float:left;
	width:5%;
	text-align:center;
}
.vote, #modmail {
	cursor:pointer;
}
.fpost-title {
	font-size:16px;
	font-weight:bold;
}
.post_score {
	font-size:16px;
}
#more_posts{
	float:left;
	margin:0.5em;
}
.fpost-content{
	width:calc(95% - 20px);
	font-size:10px;
	line-height:18px;
	float:left;
	padding-left:20px;
}
.feddit-links, .modalert {
	margin-bottom: 5px;
}
.feddit-links a, .mod_tools a {
	margin-right:3px;
	text-decoration:underline;
	cursor:pointer;
}
.mod_tools, .report_post {
	display:none;
	width:100%;
}
.modalert {
	background-color: #FC6;
	border: 1px solid #C63;
	border-radius:3px;
	padding:2px;
}
#f_head_links {
	width:100%;
	float:right;
	padding-right:20px;
	position:relative;
	top:0px;
	right:0px;
}
.fat-button {
	border-radius:4px;
	padding:4px;margin:2px;
	cursor:pointer;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	background: #0085ba;
	border:2px solid;
	border-color: #0073aa #006799 #006799;
	-webkit-box-shadow: 0 1px 0 #006799;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}
#loginform #wp-submit, #fph_register #register, #fat_logout, #fat_submit, #fat_register, #fat_login, #fat_message, #fat_settings, #fat_modmail {
	float:right;
}
.fat-button a {
	color:#fff;
	text-decoration:none !important;
}
#loginform p, fph_register p {
}
.fph_poppy {
	border-radius: 5px;
	border: 1px solid #000;
	background-color: #eee;
	padding: 20px;
	display:none;
	float:right;
	color:#000;
	text-align:left;
	width:100%;
	max-width:250px;
	position:absolute;
	top:40px;
	right:20px;
	z-index:1;
}
.fph_poppy input[type=text], .fph_poppy input[type=password], .fph_poppy textarea {
	width:100%;
	border: 1px solid #333;
	resize:vertical;
}
#fph_login, #fph_register, #fph_alert {
	
}
#fph_alert img {
	float:right;
	cursor:pointer;
	opacity:0.5;
}
#fph_alert img:hover {
	opacity:1;
}

#fph_submit {
	max-width:450px;
}
#fph_submit #labels_label {
	width:calc(75% - 16px);
	margin:2px;
	padding:5px;
	border:1px solid #ccc;
	float:left;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#fph_submit #labels_list{
	width:100%;
	padding:0px;
	margin:0px;
	list-style-type:none;
	float:left;
	text-align:justify;
	display:none;
}
#fph_submit #labels_list label, .content_taxa, .report_post label, .report_post [type=text], .send_report, .admin_func {
	margin:2px;
	padding:3px;
	border:1px solid #ccc;
	background-color:#eee;
	display:inline;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:10px;
	line-height: 18px;
}
.send_report {
	border:1px solid #caa;
	background-color:#ecc;
}
.fpost_taxa, .feddit-labels {
	margin:1px 3px;
}
#fph_submit #labels_list input:checked + label, .report_post input:checked + label {
	border:1px solid #aaa;
	background-color:#ddd;
}
#fph_submit #labels_list input, .report_post input[type=radio], .modnotes {
	display:none;
}
#fph_submit #submit {
	width:25%;
	margin:2px 0px;
	float:right;
}
.fph_poppy h3 {
	margin:0px 0px 0.5em;
	text-align:left;
	border-bottom:1px solid #000;
	padding-bottom:3px;
}
#fph_login input[type=text], #fph_login input[type=password], #fph_register input[type=text]{
	width:100%;
}
.register_page input, .fph_poppy input {
	box-shadow: 0 0 2px #888888;
	border: none;
	border-radius:4px;
	padding:3px;
	margin:3px;
}
#user_tabs {
	box-shadow: 0 -3px 0 #ccc inset;
	padding:5px;
}
#user_tabs span {
	padding:5px;
	border: solid #ccc;
	border-width: 3px 3px 0px 3px;
	border-radius: 5px 5px 0px 0px;
	margin-right:5px;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.user_wrap {
	display:none;
}
.user_wrap.selected {
	display:block;
}
#user_tabs span.selected {
	border-bottom: 3px solid #eee;
}
.user_page_post {
	box-shadow: 0 0 2px #888888;
	padding:5px;
}
#user_settings div, .user_head, .feddit_inbox {
    border-radius:5px;
	width: calc(100% - 50px);
	padding:20px;
	margin:10px auto 10px 5px;
	box-shadow: 0px 0px 5px #888888;
}
#user_card {
    display: flex;
    justify-content: space-between;
}
#user_score, #user_trophies {
	width:50%;
}
#user_card h2{
	padding:0;
	margin:0;
}
.removed{
	background-color:#fdd;
}
.pm_read{
	box-shadow:none;
}
.message_head {
	border-bottom: 1px solid #aaa;
	opacity:0.6;
	font-size:0.8em;
}
.modlog_head {
	opacity:0.6;
	font-size:0.8em;
}
.modlog_msg {
	border-bottom: 1px solid #aaa;
}
.msg_links span, .msg_links a {
	font-size:10px;
	cursor:pointer;
	margin-right:5px;
	text-decoration:underline;
}
.reply_form {
	display:none;
}
#user_inbox textarea, .admintextarea {
	width:calc(100% - 1em);
	resize:none;
	border:1px solid;
	height:10em;
	padding:0.5em;
}
.modnoteslist {
	text-align:left;
	width:200px;
}
.modnotesbtn  {
	cursor:pointer;
}
.usernoteinput  {
	border: 1px solid #000;
}

@media (max-width: 400px) {
.fph_poppy {
	padding: 20px;
	width:calc(100% - 62px);
	right:0px;
	max-width:none;
}
}